.cor1{
  background-color: blueviolet;
}
.cor2{
  background-color: blue;
}
.cor3{
  background-color: blue;
}
.cor4{
  background-color: aqua;
}
.cor5{
  background-color: brown;
}
.cor6{
  background-color: rgb(177, 155, 10);
}